body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.effect {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  height: 500px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.25s;
}

span {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  transform-origin: bottom right;
  transform: rotateZ(180deg);
  transition: all 0.2s;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s;
  transition-delay: 0.25s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

h1,
p {
  color: white;
}

p {
  font-size: 20px;
}

.title {
  position: absolute;
  right: 0%;
  top: 36px;
  width: 100%;
  height: 36px;
  padding: 8px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  transform: rotateZ(90deg) translateY(-200%);
  transform-origin: top right;
  transition: 0.2s ease-in;
  transition-delay: 0.5s;
}

.des {
  position: absolute;
  top: 50%;
  right: 0%;
  width: 60%;
  height: auto;
  background-color: brown;
  display: flex;
  justify-content: center;
  transform-origin: bottom left;
  padding: 8px 16px;
  transform-origin: center;
  transform: translateX(150%) translateY(-50%) rotateZ(180deg);
  transition: 0.3s ease-in;
  transition-delay: 0.4s;
}

.btn {
  width: 120px;
  padding: 12px 16px;
  border-radius: 4px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translate(-50%, 100%);
  transition: 0.4s ease-in;
  transition-delay: 0.2s;
}

.effect:hover span {
  transform: rotatez(0);
}

.effect:hover .title {
  transform: rotate(0);
}

.effect:hover .des {
  right: 50%;
  transform: rotateZ(0) translateX(50%) translateY(-50%);
}

.effect:hover .btn{
  top: 70%;

}
