body {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.break-balloon-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  padding: 8px 32px;
  font-family: sans-serif;
  font-weight: 500;
  border: 1px solid black;
  border-radius: 4px;
  transition: all 1s;
  height: 50px;
}

.break-balloon-button:hover {
  transform: translateY(-10px);
}

.break-balloon-button:before {
  content: "";
  position: absolute;
  background-color: grey;
  opacity: 0.5;
  width: 0;
  height: 0;
  z-index: -1;
  top: 0;
  left: 0;
  /* transform: translate(50%, 50%); */
  transition: all 0.5 ease-in-out;
}

.break-balloon-button:hover:before {
  width: 100%;
  height: 100%;
}
