body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}
.open-effect-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 240px;
  border-radius: 4px;
  /* overflow: hidden; */
  position: relative;
  cursor: pointer;
  padding: 16px 24px;
  color: yellow;
  transition: all 0.5s;
  font-size: 24px;
  font-weight: 500;
}

.open-effect-button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate(-2%, -5%);
  transition: all 0.2s;
  background-color: rgba(0, 255, 0, 0.4);
  transform-origin: top;
  z-index: -1;
}

.open-effect-button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate(2%, 5%);
  transition: all 0.2s;
  background-color: rgba(255, 0, 0, 0.4);
  transform-origin: bottom;
  z-index: -2;
}

.open-effect-button:hover:before {
  transform: translate(0%, -5%) perspective(1000px) rotateX(80deg);
}

.open-effect-button:hover:after {
  transform: translate(0%, 5%) perspective(1000px) rotateX(-80deg);
}
